/* Basic styling */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Banner image styling */
.banner-image {
  background-image: url('/img/banner-image.jpeg');
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 10px;
}

/* Header styling */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

/* Description text styling */
.description_h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #51B64B;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

/* Content container */
.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Bubble styling */
.bubble {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.bubble img {
  float: left;
  width: 10%; /* adjust the size as needed */
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.bubble-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bubble-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.bubble-list {
  list-style: disc;
  margin: 0;
  padding-left: 20px;
}

/* Button styling */
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .bubbles-form-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 479px) {
  .bubble {
    flex-basis: 100%;
    margin-right: 0;
  }

  h2 {
    font-size: 1em;
  }
}

/* Footer styling */
footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}